<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <div>
                <h2 class="cs-title">Jason Bramburger</h2>
                <h3 class="cs-title subTitle">Assistant Professor</h3>
            </div>
            <a href="/jbrambur/contact" class="cs-button-solid">Contact</a>
        </div>
    </div>
    <img class="cs-background" src="/jbrambur/assets/svgs/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>