<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/jbrambur/assets/svgs/logo-white.svg" alt="Jason's logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/publications" class="cs-link">Publications</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/research" class="cs-link">Research</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/cv" class="cs-link">CV</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/group" class="cs-link">Group</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/videos" class="cs-link">Videos</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/teaching" class="cs-link">Teaching</a>
                </li>
                <li class="cs-li">
                    <a href="/jbrambur/contact" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="{{ client.socials.youtube }}" class="cs-social-link" aria-label="youtube" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/jbrambur/assets/svgs/brand-youtube.svg" alt="youtube logo" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.twitter }}" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/jbrambur/assets/svgs/brand-twitter.svg" alt="twitter logo" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.github }}" class="cs-social-link" aria-label="github" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/jbrambur/assets/svgs/brand-github.svg" alt="github logo" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.researchGate }}" class="cs-social-link" aria-label="research gate" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/jbrambur/assets/svgs/brand-research-gate.svg" alt="research gate logo" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                <a href="{{ client.socials.googleScholar }}" class="cs-social-link" aria-label="googleScholar link" target="_blank" rel="noopener">
                    <img class="cs-social-icon cs-default" src="/jbrambur/assets/svgs/brand-google-scholar.svg" alt="google scholar logo" title="Google Scholar" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                </a>
            </li>
            </ul>
            <span class="cs-copyright">
                <span>Designed and Hand-Coded by</span>
                <a href="https://newgrowthweb.ca/" target="_blank" rel="noopener" class="cs-copyright-link">Casey @ New Growth Web</a>
                - Copyright {% year %}
            </span>
        </div>
    </div>
</footer>