<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="../../assets/svgs/logo-white.svg" alt="logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Donations</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Events</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Blog</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="{{ client.socials.youtube }}" class="cs-social-link" aria-label="youtube" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../assets/svgs/brand-youtube.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.twitter }}" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../assets/svgs/brand-twitter.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.github }}" class="cs-social-link" aria-label="github" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../assets/svgs/brand-github.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="{{ client.socials.researchGate }}" class="cs-social-link" aria-label="research gate" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../assets/svgs/brand-research-gate.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
                <span>Designed and Hand-Coded by</span>
                <a href="https://newgrowthweb.ca/" target="_blank" rel="noopener" class="cs-copyright-link">Casey @ New Growth Web</a>
                - Copyright {% year %}
            </span>
        </div>
    </div>
</footer>