<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <a href="" class="cs-logo" aria-label="back to home">
            <img src="../../assets/svgs/logo-white.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
        </a>
        <nav class="cs-nav" role="navigation">
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">
                            Services
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="" class="cs-li-link cs-drop-link">Oil Changes</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="" class="cs-li-link cs-drop-link">Brake Replacement</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Team
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Our Work
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            FAQ
                        </a> 
                    </li>
                </ul>
            </div>
        </nav>
        <a href="" class="cs-button-solid cs-nav-button">Get In Touch</a>
    </div>
</header>
                                
    </div>
</header>
                                