---
title: 'Group | Jason Bramburger'
description: 'Students and postdocs at Concordia University working under the supervision of Jason Bramburger.'
permalink: 'group/'
eleventyNavigation:
    key: Group
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/group.css">
    <script defer src="/assets/js/collapsible.js"></script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Group</h1>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | avif %}" type="image/avif">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | webp %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" alt="Starry night sky" width="2000" height="465" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Group                     -->
<!-- ============================================ -->

<section id="faq-2070">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Group</h2>
            <p class="cs-text">My group at Concordia University is focussed on problems in dynamical systems, pattern formation, random network theory, and data science. Below you will find the names of group members, their co-supervisors (if applicable), papers they have published while part of my group, posters they have presented at conferences, and summaries of awards they have won.</p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-wrapper">
                <ul class="cs-faq-group">

                    {# --Doctoral-- #}
                    <li class="cs-faq-item"> {# Start here to copy doctoral section - Add a class of active to the 'cs-faq-item' if you want it to be open by default #}
                        <button class="cs-button">
                            <span class="cs-button-text">Doctoral</span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="expand arrow" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            <p><strong>Gabriel Remond-Tiedrez</strong>, since 2024</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two person icon">
                                <p>Co-supervisor: <a href="https://www.math.mcgill.ca/jplessard/Home.html" target="_blank">Jean-Philippe Lessard</a></p>
                            </div>
                        </ul>
                        <ul class="cs-item-p">
                            <p><strong>Jackson Williams</strong>, since 2021</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two person icon">
                                <p>Co-supervisor: <a href="https://math.gmu.edu/~mholzer/">Matt Holzer</a></p>
                            </div>
                            {# <div class="cs-item-p-2">
                                <img src="../../assets/svgs/paper.svg" alt="paper icon"> 
                                <p>TBD</p>
                            </div> #}
                            <a href="https://hybrid.concordia.ca/jbrambur/Graphon_Poster_Jackson.pdf" class="cs-item-p-2" target="_blank">
                                <img src="../../assets/svgs/poster.svg" alt="trophy icon">
                                Existence and Persistence of Steady States for Dynamical Systems on Large Networks
                            </a>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/trophy.svg" alt="trophy icon"> 
                                <p>T.C. Lim Graduate Award for Excellence in Teaching</p>
                            </div>
                        </ul>
                    </li> {# End here to copy doctoral section #}

                    {# --Masters-- #}
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">Masters</span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>

                        <ul class="cs-item-p">
                            <p><strong>Tristan Kolla</strong>, since 2024</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two people icon">
                                <p>Co-supervisor: <a href="https://www.pedersenfisherieslab.com/" target="_blank">Eric Pederson</a></p>
                            </div>
                        </ul>

                        <ul class="cs-item-p">
                            <p><strong>Daniel Fassler</strong>, since 2023</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two people icon">
                                <p>Co-supervisor: <a href="https://sites.google.com/view/paglia" target="_blank">Simone Brugiapaglia</a></p>
                            </div>
                        </ul>

                        <ul class="cs-item-p">
                            <p><strong>Bocheng Ruan</strong>, since 2023</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two people icon">
                                <p>Co-supervisor: <a href="http://mypage.concordia.ca/mathstat/pgora/" target="_blank"> Pawel Gora</a></p>
                            </div>
                        </ul>
                    </li>

                    {# --Undergraduate-- #}
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">Undergraduate</span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            <p><strong>Mathew Sanza</strong>  2024, CURSA</p>
                        </ul>

                        <ul class="cs-item-p">
                            <p><strong>Marco Mignacca</strong> 2023, Honours Project & 2023, NSERC USRA</p>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/users.svg" alt="two people icon">
                                <p>Co-supervisor: <a href="https://sites.google.com/view/paglia" target="_blank">Simone Brugiapaglia</a></p>
                            </div>
                            <a href="https://hybrid.concordia.ca/jbrambur/Marco_Poster_CMS.pdf" class="cs-item-p-2" target="_blank">
                                <img src="../../assets/svgs/poster.svg" alt="trophy icon">
                                Motion Detection using Dynamic Mode Decomposition
                            </a>
                            <div class="cs-item-p-2">
                                <img src="../../assets/svgs/trophy.svg" alt="trophy icon"> 
                                <p>Best poster prize at CMS Winter Meeting 2023</p>
                            </div>
                        </ul>

                        <ul class="cs-item-p">
                            <p><strong>Georgia Brooks</strong> 2023, Don and Bonnie Poole Undergraduate Summer Research Internship</p>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}