---
title: 'Publications | Jason Bramburger'
description: 'TODO: Meta description for the page'
permalink: 'publications/'
eleventyNavigation:
    key: Publications
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/publications.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | avif %})"/>
    <script defer src="/assets/js/collapsible.js"></script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Publications</h1>
        <picture class="cs-background">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" alt="Starry night sky" width="2000" height="465" loading="eager" decoding="async" aria-hidden="true">
        </picture>
    </section>

<!-- ============================================ -->
<!--                    Publications              -->
<!-- ============================================ -->

<section id="faq-2070">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">My Work</span>
            <h2 class="cs-title">Publications</h2>
            <p class="cs-text">A collection of Books, Preprints, publications, Refereed Conference Proceedings, Conference Reports, Outreach and Public Interest Articles and Theses</p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-wrapper">
                <ul class="cs-faq-group">
                    <!-- Add a class of active to the 'cs-faq-item' if you want it to be open by default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Books
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            {% for book in research.books %}
                                <div class="cs-item-p">
                                    <li>{{ book.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ book.link }}" target="_blank">{{ book.title }}</a>
                                            <div class="cs-social-li">
                                                {% if book.repo %}
                                                    <a href="{{ book.repo }}" aria-label="github" class="cs-social-link" target="_blank" rel="noopener" title="Code Repository">
                                                        <img src="../../assets/svgs/brand-github.svg" class="cs-social-icon cs-github" alt="GitHub logo" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Preprints
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            {# If you need to add more items, add another element to the array in research.js #}
                            {% for preprint in research.preprints %}
                                <div class="cs-item-p">
                                    <li>{{ preprint.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ preprint.link }}" target="_blank">{{ preprint.title }}</a>
                                        </div>
                                    </li>
                                    <div class="cs-social-li">
                                        {% if preprint.repo %}
                                            <a href="{{ preprint.repo }}" aria-label="github" class="cs-social-link" target="_blank" rel="noopener" title="Code Repository">
                                                <img src="../../assets/svgs/brand-github.svg" class="cs-social-icon cs-github" alt="GitHub logo" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>

                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">Publications</span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nonlinearity-cover-2024.jpg" | resize({ width: 300, height: 500 }) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nonlinearity-cover-2024.jpg" | resize({ width: 300, height: 500 }) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nonlinearity-cover-2024.jpg" | resize({ width: 300, height: 500 }) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/nonlinearity-cover-2024.jpg" | resize({ width: 520, height: 747 }) | jpeg %}" alt="Book cover of Nonlinearity 2024" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            {% for publication in research.publications %}
                                <div class="cs-item-p">
                                    <li>{{ publication.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a>
                                            <span class="cs-reference">{{ publication.reference }}</span>
                                        </div>
                                    </li>
                                    <div class="cs-social-li">
                                        {% if publication.coverArticle %}
                                            <a href="{{ publication.coverArticle }}" aria-label="cover article" class="cs-social-link" target="_blank" rel="noopener" title="Cover article">
                                                <img src="../../assets/svgs/book.svg" class="cs-social-icon cs-cover-article" alt="book icon" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                        {% if publication.dsWebFeature %}
                                            <a href="{{ publication.dsWebFeature }}" aria-label="ds-web" class="cs-social-link" target="_blank" rel="noopener" title="DSweb Feature">
                                                <img src="../../assets/svgs/ds-web.svg" class="cs-social-icon cs-dsweb" alt="Journal" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                        {% if publication.videoAbstract %}
                                            <a href="{{ publication.videoAbstract }}" aria-label="youtube" class="cs-social-link" target="_blank" rel="noopener" title="Youtube abstract">
                                                <img src="../../assets/svgs/brand-youtube.svg" class="cs-social-icon cs-youtube" alt="youtube logo" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                        {% if publication.repo %}
                                            <a href="{{ publication.repo }}" aria-label="github" class="cs-social-link" target="_blank" rel="noopener" title="Code Repository">
                                                <img src="../../assets/svgs/brand-github.svg" class="cs-social-icon cs-github" alt="GitHub logo" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>

                    
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">Refereed Conference Proceedings</span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            {% for conference in research.conferenceProceedings %}
                                <div class="cs-item-p">
                                    <li>{{ conference.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ conference.link }}" target="_blank">{{ conference.title }}</a>
                                            <span class="cs-reference">{{ conference.reference }}</span>
                                            <span class="cs-reference">{{ conference.location }}</span>
                                        </div>
                                    </li>
                                    <div class="cs-social-li">
                                        {% if conference.repo %}
                                            <a href="{{ conference.repo }}" aria-label="github" class="cs-social-link" target="_blank" rel="noopener" title="Code Repository">
                                                <img src="../../assets/svgs/brand-github.svg" class="cs-social-icon cs-github" alt="GitHub logo" loading="lazy" decoding-"async" width="18" height="18" aria-hidden="true">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Conference Reports
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>

                        <ul class="cs-item-p">
                            {% for reports in research.conferenceReports %}
                                <div class="cs-item-p">
                                    <li>{{ reports.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ reports.link }}" target="_blank">{{ reports.title }}</a>
                                            <span class="cs-reference">{{ reports.reference }}</span>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Outreach and Public Interest Articles
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <ul class="cs-item-p">
                            {% for articles in research.outreachArticles %}
                                <div class="cs-item-p">
                                    <li>{{ articles.authors }}
                                        <div class="cs-item-p-2">
                                            <a href="{{ articles.link }}" target="_blank">{{ articles.title }}</a>
                                            <span class="cs-reference">{{ articles.reference }}</span>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Theses
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>

                        <ul class="cs-item-p">
                            <div class="cs-item-p">
                                <li>J. Bramburger
                                    <div class="cs-item-p-2">
                                        <a href="https://ruor.uottawa.ca/handle/10393/36235" target="_blank">On the existence and stability of rotating wave solutions to lattice dynamical systems.</a>
                                        <span class="cs-reference"><strong>Ph.D. Thesis</strong>, University of Ottawa, 2017.</span>
                                    </div>
                                </li>
                            </div>
                            <div class="cs-item-p">
                                <li>J. Bramburger
                                    <div class="cs-item-p-2">
                                        <a href="https://ruor.uottawa.ca/handle/10393/24325" target="_blank">Steady-state/Hopf interactions in the Van der Pol oscillator with delayed feedback.</a>
                                        <span class="cs-reference"><strong>M.Sc. Thesis</strong>, University of Ottawa, 2013.</span>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}