---
title: 'Videos | Jason Bramburger'
description: 'TODO: description for the page'
permalink: 'videos/'
eleventyNavigation:
    key: Videos
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/videos.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Videos</h1>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 1200, height: 930 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | avif %}" type="image/avif">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | webp %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/night-sky-banner.jpg" | resize({ width: 2000, height: 930 }) | jpeg %}" alt="Starry night sky" width="2000" height="465" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Playlists                 -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Full Course Lecture Series</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            {% for playlist in videos.playlists %} <!-- To add a playlist to the collection go into videos.js and add it to the playlists section -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <iframe src="https://www.youtube.com/embed/videoseries?list={{ playlist.link.split('=')[1] }}&rel=0" title="YouTube playlist player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{ playlist.name }}</h3>
                        <p class="cs-item-text">{{ playlist.description }}</p>
                        <a href="{{ playlist.link }}" target="_blank" class="cs-link">
                            Full Playlist
                            <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    Video Abstracts           -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <span class="cs-topper">Videos</span>
                <h2 class="cs-title">Video Abstracts</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            {% for video in videos.videoAbstracts %} <!-- To add a video to the collection go into videos.js and add it to the video abstracts section -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <iframe src="https://www.youtube.com/embed/{{ video.videoLink.split('=')[1] }}?&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{ video.name }}</h3>
                        <p class="cs-item-text">{{ video.description }}</p>
                        <a href="{{ video.paperLink }}" target="_blank" class="cs-link">
                            Paper
                            <img class="cs-arrow" loading="lazy" decoding="async" src="../../assets/svgs/chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    Research Talks            -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <span class="cs-topper">Videos</span>
                <h2 class="cs-title">Reseach Talks</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            {% for video in videos.researchTalks %} <!-- To add a video to the collection go into videos.js and add it to the research talks section -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <iframe src="https://www.youtube.com/embed/{{ video.link.split('=')[1] }}?&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{ video.name }}</h3>
                        <p class="cs-item-text">{{ video.description }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    Research Talks            -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <span class="cs-topper">Podcasts</span>
                <h2 class="cs-title">Podcasts</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            {% for video in videos.podcasts %} <!-- To add a video to the collection go into videos.js and add it to the podcasts section -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <iframe src="https://www.youtube.com/embed/{{ video.link.split('=')[1] }}?&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">{{ video.name }}</h3>
                        <p class="cs-item-text">{{ video.description }} <a href="{{ video.hostLink }}">{{video.host}}</a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>


    {% include 'components/cta.html' %}
{% endblock %}