/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-219 {
    /* Centers button */
    text-align: left;
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0;
    /* 130px - 200px */
    padding-bottom: clamp(8.125rem, 12.5vw, 25rem);
    position: relative;
    z-index: 1;
  }
  #hero-219 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-219 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.55;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-219 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }
  #hero-219 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }
  #hero-219 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    max-width: 51.8125rem;
    /* 16px - 24px */
    margin: 0;
    color: #fff;
    position: relative;
  }
  #hero-219 .cs-text {
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0 auto 0 0;
    color: var(--primaryVLight);
  }
  #hero-219 .cs-button-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 2rem;
  }
  #hero-219 .cs-button-solid {
    line-height: 3.5rem;
    color: #fff;
  }
  #hero-219 .cs-social {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  #hero-219 .cs-social-li {
    list-style: none;
  }
  #hero-219 .cs-social-link {
    padding: 0.5rem;
    background-color: #484848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #hero-219 .cs-social-link:hover {
    background-color: var(--secondary);
  }
  #hero-219 .cs-social-link:hover .cs-social-icon {
    filter: grayscale(1) brightness(0);
    opacity: 1;
  }
  #hero-219 .cs-social-icon {
    width: 0.9rem;
    height: auto;
    display: block;
    opacity: 0.5;
  }
}
/* Desktop - 1024px */
@media screen and (min-width: 64rem) {
  #hero-219 .cs-social-icon {
    width: 1.15rem;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1461 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
  }
  #sbs-1461 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1461 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1461 .cs-text {
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  #sbs-1461 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1461 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1461 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    opacity: 0.8;
    position: relative;
  }
  #sbs-1461 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #sbs-1461 .cs-button-solid {
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    padding: 0 1.5rem;
  }
  #sbs-1461 .cs-image-group {
    /* scaling the font size with the view width, removed at desktop */
    font-size: min(2.23vw, 0.83em);
    /* using ems so we can use font size to scale the whole section */
    width: 40.625em;
    height: 45.5625em;
    position: relative;
  }
  #sbs-1461 .cs-picture {
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-1461 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-1461 .cs-picture1 {
    width: 32.625em;
    height: 45.5625em;
    left: 0;
    top: 0;
  }
  #sbs-1461 .cs-picture2 {
    width: 23.625em;
    height: 28.75em;
    right: 0;
    bottom: -2.5rem;
  }
  #sbs-1461 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1461 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    opacity: 0.88;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1461 .cs-background img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1461 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
  }
  #sbs-1461 .cs-content {
    width: 50%;
    padding: 3rem 0;
    /* prevents flexbox from squishing it */
    flex: none;
    align-self: center;
  }
  #sbs-1461 .cs-image-group {
    /* scaling the font size with the view width, removed at desktop */
    font-size: min(2.23vw, 0.83em);
    /* using ems so we can use font size to scale the whole section */
    width: 40.625em;
    height: 45.5625em;
    position: relative;
  }
  #sbs-1461 .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-1461 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-1461 .cs-picture1 {
    width: 32.625em;
    height: 45.5625em;
    left: 0;
    top: 0;
  }
  #sbs-1461 .cs-picture2 {
    width: 23.625em;
    height: 28.75em;
    right: 0;
    bottom: -5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

/*# sourceMappingURL=critical.css.map */
